  .dashboard {
      display: grid;
      grid-template-columns: 200px 1fr;
      font-family: 'Montserrat', sans-serif;
      height: 100%;
      background-color: #f8f8f8;
  }

  /* sidebar  */

  #sidebar {
      position: fixed;
      width: 200px;
      height: 100vh;
      background: #fff;
      flex-direction: column;
      display: flex;
      align-items: center;
      z-index: 1;
      box-shadow: -1px 0px 40px -20px rgba(0, 0, 0, 0.33);
      background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  }

  .list {
      display: flex;
      flex-direction: column;
  }

  .list>li {
      font-size: 14px;
      font-weight: 500;
      margin: 1rem;
      list-style-type: none;
      cursor: pointer;
      color: #fff
  }

  .list-model, .list {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  img {
      width: 80px;
      height: 80px;
      margin: 2rem;
  }

  /* -------------------- */

  .main-container {
      height: 100vh;
      /* background-color: #edeef2; */
      grid-column-start: 2;
      padding: 0px 32px;
      position: relative;
  }

  h2 {
      margin-top: 0px;
      margin-left: 16px;
      font-weight: 700;
      font-size: 2rem;
      letter-spacing: -0.02em;
      margin-bottom: 0px;
  }

  /* Home page */

  .top-greet {
      padding: 2rem;
      display: flex;
      justify-content: center;
      /* border-bottom: 2px solid #d2d5da; */
  }

  .top-greet>h2 {
      font-family: 'Montserrat', sans-serif;
      /* color: rgb(39, 51, 57); */
      color: #7f7fd6;
      margin: 0px;
      font-weight: bold;
      font-size: 48px;
      line-height: 106%;
  }

  .main-greet {
      padding: 2rem;
  }

  .main-greet>span {
      color: #7598d8;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 25px;
  }

  .reports {
      background-color: #d2d5da;
      border-radius: 4px;
      box-shadow: 20px rgba(0, 0, 0, 0.33);
      min-height: 300px;
      padding: 50px 32px 40px;
      margin: 40px 20px;
  }

  /* -------------------------- */

  .heading-model {
      padding: 3rem 3rem .8rem .8rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .heading {
      text-decoration: underline;
      font-size: 20px;
      font-weight: 700;
      color: rgb(53, 78, 141);
      cursor: pointer;
      letter-spacing: 2px;
      line-height: 1.2;
      text-transform: uppercase;
  }

  .input-table {
      min-width: 1rem;
      width: 6rem;
      appearance: none;
      outline-style: none;
      background: #fff;
      border: none;
      /* border-bottom: 1px solid #000; */
      box-shadow: none;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      color: #334D6E;
      padding: 0.6rem 0.4rem 0.8rem 0.6rem;
      transition: background-color 0.5s, border-color 0.5s;
  }


  form {
      padding: 0;
      margin: 0;
      background:none;
  }
 .add-form{
    z-index:  9999;
    position : absolute;
    top : 50%;
    left : 50%;
    min-width : 250px;
    min-height:  100px;
    width:calc(100% - 40%);
    padding:  2rem;
    border-radius : 10px;
    transform:  translate(-50%, -50%);
    box-shadow: 0 0 20px rgba(8,21,66,.05);
    background : #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form-control {
    display: block;
    width: 100%;
    margin:0.6em;
    min-height: 2rem;
    height: 100%;
    MAX-height: 3rem;
    padding: 0 .75rem;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-group{
    display: flex;
    align-items: center;
    width: 100%;
margin: .5rem;
    justify-content: space-between;
  
}

.form-group > label {
    font-size: .8125rem;
    white-space: nowrap;
}

.btn-primary {
    color: #fff;
    border : none;
    padding: .375rem 1.75rem;
    cursor: pointer;
    font-size: 0.8125rem;
    width: 100%;
    line-height: 1.5;
    font-weight: 400;
    margin: 0.6rem;
    border-radius: 0.25rem;
    background: linear-gradient(to top, #7f7fd5, #86a8e7, #91eae4);
    text-transform: none;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

a, button {
    outline: none!important;
}

.add-form > ul {
    width: 100%;
    font-size: .8125rem;
    padding: 0 .75rem;
    margin:0.6em;
}