.add-button {
    margin: 0 2rem 0 0;
    border-radius: 7px;
    padding: 10px 16px;
    line-height: 1.333;
    text-transform: uppercase;
    min-height: 42px;
    background-color: transparent;
    letter-spacing: 0.6px;
    font-family: "Euclid Circular A Semibold";
    font-size: 14px;
    user-select: none;
    white-space: nowrap;
    background: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    min-width: 120px;
    color: #7070b9;
    border: 2px solid #7f7fd5;
    transition: box-shadow 0.2s ease-in-out 0s;
    box-shadow: 0 10px 35px rgba(0, 0, 0, .1);
}

.filter-button {
    margin: 0 2rem 0 0;
    border-radius: 7px;
    padding: 10px 16px;
    line-height: 1.333;
    text-transform: uppercase;
    min-height: 42px;
    letter-spacing: 0.6px;
    font-family: "Euclid Circular A Semibold";
    font-size: 14px;
    user-select: none;
    white-space: nowrap;
    background: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    min-width: 120px;
    color: #3a3a53;
    border: 2px solid #829695;
    transition: box-shadow 0.2s ease-in-out 0s;
    box-shadow: 0 10px 35px rgba(0, 0, 0, .1);
}