/* font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background: url("./assets/background.jpg");
}

.media-body {
  cursor: pointer;
}

.media-body p {
  font-size: 12px;
  line-height: 1;

  color: rgba(43, 43, 43, 0.7);
}
.media-body span {
  font-size: 1.1em;
  font-family: "Montserrat", sans-serif;
}

.css-dznagq ,.css-dznagq h2 {
  font-size: 36px;
  line-height: 110%;
 cursor: pointer;
  letter-spacing: 2px;
}
.main-container section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  padding: 0 2rem;
}
