input {
  /* margin: 0 0 1rem 0; */
  outline: none;
}

ul {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

ul li {
  list-style-type: none;
  margin: 0 0.7rem;
}

li>label {
  margin: 0 .2em;
  font-size: 14px;
}

label {
  font-size: 14px;
  color: #007991;
  font-weight: 100;
}

.checkbox-model {
  display: flex;
  align-items: center;
  margin: 0 0 .7em 0;
}

.checkbox-model>label {
  margin: 0 .7em;
  font-size: 14px;
  cursor: pointer;
}

.checkbox-model>input {
  font-size: 14px;
  margin: 0 0;
  cursor: pointer;
}

/* input box */

.input-box {
  appearance: none;
  padding: 14px;
  width: 100%;
  min-width: 5rem;
  border-radius: 4px;
  margin-bottom: 20px;
  outline-style: none;
  background: #fff;
  border: 1px solid #007991;
  box-shadow: none;
  font-size: 14px !important;
  line-height: 1.333;
  min-height: 1rem;
  padding: 0.6rem 0.4rem 0.8rem 0.6rem;
  transition: background-color 0.5s, border-color 0.5s;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

.input-box:focus {
  border: 2px solid #a50c32;
  border-radius: 6px;
}

.input-radio:focus {
  border: 2px solid #a50c32;
  border-radius: 6px;
}

/* main */

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  border-radius: 10px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 37px rgba(8, 21, 66, .05);
}

.btn-model {
  margin: 0.4rem 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-model>span {
  cursor: pointer;
  font-size: 16px;
  color: #007991;
  margin: 0;
}

.signup .showPassword {
  position: relative;
  left:10rem;
  bottom:3rem;
  cursor: pointer;
  display: block;
}